7<!DOCTYPE html>
<html ng-app="AnnonsApp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>WebbprojektTvå</title>
        <!-- Bootstrap -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="Style/carusell.css" rel="stylesheet"/>
    </head>
    <body ng-controller="annonsCtrl">
        <div ui-view></div>

        <div class="jumbotron" id="Lättröd">
            <div class="container-fluid">
                <div class="row-fluid">
                    
                    <div id="Mörkblå" class="page-header">
                <h2>Lediga tjänster från arbetsförmedlingen</h2>
                <h2><small>Här kan du söka efter lediga tjänster över hela landet</small></h2>
                        <div class="item">
                        <div class="bannerImage">
                            <a><img src="bilder/stadsbild1.jpg" alt="bild"></a>
                         </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
     


        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                        </span>
                        <input ng-model="nyckelord" type="text" class="form-control" placeholder="Sök efter...">
                    </div><!-- /input-group -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <select ng-model="dropdownlan" class="btn btn-default" ng-change="getKommuner()">
                        <option ng-repeat="item in lan" value='{{item.id}}'>
                            {{item.namn}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <select ng-model="dropdownkommun" class="btn btn-default">
                        <option ng-repeat="kommun in kommuner" value="{{kommun.id}}">
                            {{kommun.namn}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <button class="btn btn-block btn-default" type="text" ng-click="sok()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Sök
                    </button>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <div class="container">
            <div class="table">
                <table class="table table-bordered">
                    <thead id="Lättröd">
                        <tr id="border1">
                            <th>Rubrik</th>
                            <th>Datum</th>
                            <th>Yrke</th>
                            <th>Arbetsplats</th>
                            <th>Mer info...</th>
                        </tr>
                        <tr id="border2" ng-repeat="annons in annonser">
                            <td>{{annons.annonsrubrik}}</td>
                            <td>{{datum(annons.publiceraddatum)}}</td>
                            <td>{{annons.yrkesbenamning}}</td>
                            <td>{{annons.arbetsplatsnamn}}</td>
                            <td>
                                <button class="btn btn-info" 
                                        ng-click="getAnnons(annons.annonsid)" 
                                        data-toggle="modal" data-target="#myModal">
                                    Mer Info
                                </button>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Beskrivning</h4>
                    </div>
                    <div class="modal-body" id="popupDiv">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="content/js/index.js"></script>

    </body>
</html>
